body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #424242ff;
    font-size: 18px;
    font-weight: 600;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #212121ff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 20px 20px rgba(33, 33, 33, 0.096)
}

.content {
    width: 1140px;
    margin: 0 auto;
    }

.contents {
    font-size: 40px;
    text-align:center;
    font-weight: 600;
    padding: 50px;
    margin: 30px 0 30px;

}

section {
    display: flex;
    justify-content: space-around;
    color: #212121ff;
    text-align:center;
    font-weight: 400;
    font-size: 16px;
}

.section-item-first {
    margin: 25px 8% 60px;
}
.section-item-second {
    margin: 25px 8% 60px;
    
}
.section-item-third {
    margin: 25px 8% 60px;
}
h4 {
    font-size: 18px;
    text-align:center;
    font-weight: 600;
    margin-bottom: 10px ;

}

h5 {
    font-size: 16px;
    text-align:center;
    font-weight: 400;
    margin-top: 10px;
}

hr {
    border: none; 
    background-color: #ffB5B5ff; 
    height: 1px; 
    border-radius: 1px;
    margin: 60px 0 60px;

}

.pink {
    color: #ff445aff;
    text-align:center;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    
}

h2 {
    font-size: 24px;
    color: #ff445aff;
    text-align:center;
    font-weight: 300;
    font-style: italic;
}
.information2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.bouquet {
    filter: drop-shadow(40px 40px 40px rgba(241, 165, 165, 0.6))
}

footer{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb5b5ff;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    height: 80px;
    }